.about {
  text-align: center;
}
.about-img-list {
  display: flex;

  margin-right: -30px;
}
.about-img-list-item:not(:last-child) {
  margin-right: 30px;
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  align-items: center;
  margin-bottom: 50px;
}
.about-img-list-wrapper {
  position: relative;
  overflow: hidden;
}
.about-overlay {
  padding-top: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-color-white);
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}
