.hero {
  max-width: 1600px;
  background-color: var(--background-color-grey);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/heroimg.jpg");
  background-size: cover;
}
.hero__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--text-color-white);
}
.modal-btn {
  height: 50px;
  padding: 10px 32px;
  margin-top: 30px;

  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-white);
  background-color: var(--accent-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--text-color-white);
    background-color: var(--color-btn);
  }
}
