.team {
  text-align: center;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: 50px;
}
.team-list-item {
  width: 270px;
  background-color: var(--text-color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.team-list-sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team-list-description {
  font-size: 16px;
  line-height: 1.18;
  color: var(--paragraph-color);
}
.team-card-list {
  padding: 30px 32px 30px 32px;
}

.team {
  background-color: var(--background-color-team-filters);
}

.team-list-link {
  display: flex;
  justify-content: space-between;
  width: 206px;
  height: 44px;
  margin-top: 16px;
}
.team-link-item {
  display: block;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-link-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
  &:hover .team-icon,
  &:focus .team-icon {
    fill: #ffffff;
  }
}

.team-icon {
  fill: var(--color-icon);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
