:root {
  --main-font: "Roboto", sans-serif;
  --accent-color: #2196f3;
  --text-color: #212121;
  --paragraph-color: #757575;
  --background-color-grey: #2f303a;
  --text-color-white: #ffffff;
  --color-btn: #188ce8;
  --background-color-team-filters: #f5f4fa;
  --background-color-filters: #eeeeee;
  --color-footer-link: rgba(255, 255, 255, 0.6);
  --color-border: #ececec;
  --color-client-item: #afb1b8;
  --padding-div-projects: 20px 24px;
  --color-icon: #afb1b8;
}
